# Environments
venv/
env/
.env

# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Streamlit/IDE temp media
.tempmediaStorage/

# MD files
.theme.md 
.walkthrough.md 
.implementation.md 
